.ColorRange{
	display: inline-block;
	width: 20vw;
	margin: 2.5vw 2.5vw;
}

@media screen and (max-width: 600px) {
  .ColorRange{
    display: inline-block;
    width: 40vw;
    margin: 2.5vw 4vw;
  }
}


/*Hide default slider*/

.ColorRange input[type=range] {
  -webkit-appearance: none; /* Hide the slider so custom slider can be made */
  width: 100%; /* Specific width required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

.ColorRange input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.ColorRange input[type=range]:focus {
  outline: none; /* Remove the blue border. */
}

.ColorRange input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hide slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


/*Style 'thumb'*/

/* Special styling for WebKit/Blink */
.ColorRange input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
.ColorRange input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
.ColorRange input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}


/*Style Track*/

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: silver;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: silver;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: silver;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: silver;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: silver;
}
input[type=range]::-ms-fill-upper {
  background: silver;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: silver;
}


.ColorRange input{
	width: 200px;

}


#linearBg1 {
  /* fallback */
  background-color: #1a82f7;
  background-repeat: repeat-y;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#1a82f7), to(#2F2727));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #2F2727, #1a82f7);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #2F2727, #1a82f7);
  /* IE 10 */
  background: -ms-linear-gradient(left, #2F2727, #1a82f7);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #2F2727, #1a82f7);
}